#main{
    margin : 30px 40px;
}

#main h2{
    font-size : 30px;
    text-decoration: underline;
    margin-bottom : 20px
}
#main ul{
    font-size : 18px;
    margin : 20px;
}
#main ul li{
    margin-top : 10px;
}
#main ul li a{
    text-decoration : none;
    color : black;
}
footer{
    position : absolute;
    bottom : 0;
    width : 100%;
}